body{
  margin:0px;
  overflow-x: hidden;
}

.laser-item{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 12px;
  padding: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #FFFFFF;
  color: #222222;
}

.shadow{
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.laser-parent-div{
  height: 150vh;
}

.laser-top-panel{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  color: #FFFFFF;
  background-color: #2E86C1;
}

.laserbtn{
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0px solid #FF000000;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.laser-grey-bg{
   background: #b3b6b7;
}

.laser-white_border-blue-bg{
  background: #2E86C1;
  border: 1px solid #FFFFFF;
}

.laser-blue-bg{
  background: #2E86C1;
}

.laser-red-bg{
  background: #A93226;
}

.laser-blue-text{
  color: #2E86C1;
}

.laser-red-text{
  color: #A93226;
}

.laser-black-text{
  color: #000000;
}

.laser-white-text{
   color: #FFFFFF;
}

.laser-btn{
  background-color: #A93226;
  color: #FFFFFF;
}

.laser-controls{
  margin-left: auto;
  margin-right: 0px;
  float: right;
  margin-top: -7px;
  width: 770px;
}

.laser-header-text{
  text-align: left;
  display: inline;
}

@media screen and (max-width: 1320px) {
    .laser-controls{
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin-top: 24px;
    }

    .laser-header-text{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: none;
    }
}

.laser-inline{
  display: inline;
}

.laser-100-width{
  max-width: 100px;
}

.laser-150-width{
  max-width: 150px;
}

.laser-side-bar{
  position: absolute;
  right: 0;
  z-index: 100;
  min-height: 100vh;
  width: 350px;
  max-width: 350px;
  margin-left: auto;
  margin-right: 0px;
  background-color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-top: 50px;
}

.laser-agent_side-bar{
  position: absolute;
  right: 0;
  z-index: 200;
  min-height: 100vh;
  width: 350px;
  max-width: 350px;
  margin-left: auto;
  margin-right: 0px;
  background-color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-top: 50px;
}

.close_btn{
  text-align: end;
  height: 30px;
  width: 40px;
  float: right;
}

.close_btn:hover{
  cursor: pointer;
}

.action_close_btn{
  margin-top: -16px;
  text-align: end;
  height: 20px;
  width: 20px;
  font-size: 30px;
  float: right;
}

.action_close_btn:hover{
  cursor: pointer;
}

.laser-shadow{
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.laser-latest-div{
  position: absolute;
  left: 0;
  z-index: 100;
  height: 60vh;
  min-height: 400px;
  width: 380px;
  max-width: 380px;
  margin-left: 11px;
  margin-right: auto;
  padding: 16px;
  margin-top: 130px;
  overflow-y: auto;
  background-color: rgba(255,255,255,0.4);
}

.laser-action_div{
  padding-top: 8px;
  padding-left: 17px;
  padding-bottom: 28px;
  padding-right: 16px;
  width: 450px;
  background: #000000;
  color: #FFFFFF;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  margin-bottom: 20px;
  margin-left: 0px;
}

.LoadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  margin-top: 50px;
  z-index: 10000;
  background-color: rgba(0,0,0,0.2)
}

.LoadingModal{
  position: absolute;
  top: 40vh;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 115px;
  padding: 16px;
  height: 115px;
  margin-right: auto;
  margin-left: auto;
  border: 0px solid #000000;
  background-color: rgba(0,0,0,0);
  outline: none;
}

.LoadingModal:focus-within{
  border: 0px solid #000000;
  outline: none;
}

.Modal {
  position: absolute;
  top: 100px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 500px;
  padding: 16px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}

.ConfirmModal{
  position: absolute;
  top: 180px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 400px;
  padding: 16px;
  height: 210px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 5000;
  background-color: rgba(0,0,0,0.4)
}

.laser-login-div{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 400px;
    min-height: 400px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
}

.laser-login-bg{
    background: url('./images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    padding-top: 160px;
}

@media screen and (max-width: 1320px) {
    .laser-latest-div{
      margin-top: 180px;
    }

    .laser-side-bar{
        margin-top: 118px;
    }

    .laser-agent_side-bar{
        margin-top: 118px;
    }
}